/* stylelint-disable-next-line block-no-empty */
.home-page {
  background: #000;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(red, 0.5), rgba(blue, 0.5));
}

.example {
  @include aspect-ratio(1, 1);
  width: 40vmin;
  background: green;
}
